<% provide(:title, 'All parents') %>
<h1>All parents</h1>

<%= will_paginate %>

<ul class="parents">
  <% @parents.each do |parent| %>
    <%= render parent %>
  <% end %>

</ul><%= will_paginate %>
