
$navbarBackground: #00CC00;

@import "bootstrap";

/* navbar css */
.navbar-inner { 
background: rgb(21,181,0); /* Old browsers */
background: -moz-linear-gradient(left, rgba(21,181,0,1) 36%, rgba(0,110,46,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(36%,rgba(21,181,0,1)), color-stop(100%,rgba(0,110,46,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left, rgba(21,181,0,1) 36%,rgba(0,110,46,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left, rgba(21,181,0,1) 36%,rgba(0,110,46,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left, rgba(21,181,0,1) 36%,rgba(0,110,46,1) 100%); /* IE10+ */
background: linear-gradient(to right, rgba(21,181,0,1) 36%,rgba(0,110,46,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#15b500', endColorstr='#006e2e',GradientType=1 ); /* IE6-9 */

padding: 5px;

}
.navbar .nav > li > a {
    color: white;
    float: none;
    padding: 10px 15px;
    text-decoration: none;
    text-shadow: 0 0px 0 #ffffff;
}

ul.nav a:hover { color: rgba(227,245,171,1) !important; }

.grasshopper{
  max-height: 45px;
  &:hover {
    color: rgba(227,245,171,1);
    text-decoration: none;
    background: rgba(0,110,46,1);
  }
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;

/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 80px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $grayLight;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 2.5em;
  color: white;
  text-transform: lowercase;
  letter-spacing: -1px;
  padding-top: 4px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: rgba(227,245,171,1);
    text-decoration: none;
    background: rgba(0,110,46,0);
  }
}

/* footer */

footer {
  position:relative;
  bottom: 0;
  height: 60px;
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $gray;
    &:hover {
      color: $grayDarker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section {
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .control-group;
  @extend .error;
}


/* Parents index */

.parents {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-top: 1px solid $grayLighter;
    &:last-child {
      border-bottom: 1px solid $grayLighter;
    }
  }
}



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 40px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
  height: 40px;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 200px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: relative;
  max-width: 90%;
  padding-bottom: 10px;

}

.daily-deal {
  margin-top: 10px;
  height: 80%;
}

/* MARKETING CONTENT
-------------------------------------------------- */

.kuler-background{
  background: gray;
  margin-bottom: 20px;
}

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}
.marketing h2 {
  font-weight: normal;
}
.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}


/* DESKTOP MAP VIEW (INDEX)
-------------------------------------------------- */

.map-container{
  height:400px;
}

#map{
  height:100%; 
  width:100%;
}

.business_items{
  height:400px;
  overflow: auto;
}

.image-container{
  position: relative;
  height:100px;;
  width: 40%;
  float: left;
  margin: 5px;

}

.image-caption{
  position: absolute;
  top:10px;
  right: 0;
  width: 45%;
  background: rgba(0, 0, 0, 0.7);
  color: white;
}